ul {
    list-style: none;

}
li {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding-left: 10px;
}
.card-title {
    font-size: 20px;
    text-align: center;
}
img {
    width: 100px;
    height: 100px;
}
.fiveDayColor {
    padding: 20px;
    background-color: #1ed2ff;
    color: rgb(228, 171, 13);
    float: left;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);

}
